body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 30px;
}

h1 {
    color: darkgreen;
}

.highlight {
    color: darkblue;
    font-weight: bold;
}

#note {
    background-color: lightyellow;
    padding: 10px;
    border: 1px solid black;
}
